<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <script>
    function submitForm() {
      var formData = {
        email: document.getElementById('email').value,
        password: document.getElementById('password').value,
        name: document.getElementById('name').value,
        phoneNumber: document.getElementById('phoneNumber').value,
        privacyCheck: document.getElementById('privacyCheck').checked,
        birth: document.getElementById('birth').value,
        gender: document.getElementById('gender').value
      };

      // 서버로 JSON 형식으로 전송
      fetch('auth/signup', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(formData)
      }).then(response => response.json()).then(data => {
        alert('회원가입완료');
      });
    }
  </script>
</head>
<body>
<form onsubmit="submitForm(); return false;">
  이메일: <input type="email" id="email" required><br>
  비밀번호: <input type="password" id="password" required><br>
  이름: <input type="text" id="name" required><br>
  전화번호: <input type="text" id="phoneNumber" required><br>
  개인정보 수집 동의: <input type="checkbox" id="privacyCheck" required><br>
  생년월일: <input type="date" id="birth" required><br>
  성별: <select id="gender" required>
  <option value="남자">남자</option>
  <option value="여자">여자</option>
</select><br>
  <button type="submit">회원가입완료</button>
</form>
</body>
</html>
